body {
    margin: 0;
    padding: 0;
    background-color: rgb(62, 147, 147);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* lets change the color of elements inside the div container */
#container {
    color: aliceblue;
}

/* increasing the size font-weight of digits and text */
.digit{
    font-size: 80px;
    font-weight: bold;
}
.text{
    font-size: 20px;
    font-weight: bold;
}

/* positioning the buttons */

#btn-container{
    text-align: center;
    margin-top: 30px;
}

/* styling the buttons */
.btn {
    padding: 6px 15px;
    font-size: 15px;
    margin: 0px 10px;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

#start{
    background-color: rgb(35, 184, 35);
    color: aliceblue;
}
#stop{
    background-color: rgb(41, 41, 230);
    color: aliceblue;
}
#reset{
    background-color: rgb(223, 52, 52);
    color: aliceblue;
}